In [1]:
import numpy as np
import pandas as pd
import math
import statsmodels.formula.api as smf

In [3]:
df_ball = pd.read_csv("ball_pos_event.csv")
player = pd.read_csv('player&ball_pos_analysis/player_pos_analysis.csv')

In [43]:
event_df = pd.read_csv('event_analysis.csv')

In [71]:
event_df[event_df['playID'] == 13785]

     gameID  playID  playPerGame  eventTimeStamp  eventCode
267       1   13785          127         3946468          1
268       1   13785          127         3946868          4
269       1   13785          127         3946968          5

In [70]:
df_ball.loc[df_ball['playID'] == 13785]

,playID,playPerGame,gameID,ballPositionX,ballPositionY,ballPositionZ,ballTimeStamp,eventCode
3436,13785,127,1,-1.122180,53.573400,5.766510,3946468,1.0
3437,13785,127,1,-0.906096,46.756800,5.419680,3946518,NaN
3438,13785,127,1,-0.709962,40.024500,5.031000,3946568,NaN
3439,13785,127,1,-0.533784,33.377100,4.600530,3946618,NaN
3440,13785,127,1,-0.377559,26.814090,4.128210,3946668,NaN
3441,13785,127,1,-0.241288,20.335800,3.614070,3946718,NaN
3442,13785,127,1,-0.124969,13.942080,3.058110,3946768,NaN
3443,13785,127,1,-0.028602,7.632930,2.460324,3946818,NaN
3444,13785,127,1,0.047811,1.408434,1.820712,3946868,4.0

In [36]:
df_ball.head(100)

,playID,playPerGame,gameID,ballPositionX,ballPositionY,ballPositionZ,ballTimeStamp,eventCode
0,23916,3,1,-0.335508,54.21180,5.79471,38518,1.0
1,23916,3,1,-0.227452,47.68860,5.45637,38568,NaN
2,23916,3,1,-0.135159,41.22240,5.07717,38618,NaN
3,23916,3,1,-0.058631,34.81290,4.65711,38668,NaN
4,23916,3,1,0.002134,28.46016,4.19616,38718,NaN
...,...,...,...,...,...,...,...,...
95,7027,14,1,-0.062554,12.68445,7.00338,419518,NaN
96,7027,14,1,-0.216447,18.05004,9.55638,419568,NaN
97,7027,14,1,-0.382056,23.34888,12.01359,419618,NaN
98,7027,14,1,-0.559287,28.58178,14.37576,419668,NaN
99,7027,14,1,-0.748047,33.74940,16.64361,419718,NaN

In [37]:
player.head(100)

,playID,playPerGame,gameID,playerNum,posCode,posName,playerTimeStamp,fieldX,fieldY
0,1,26,89,3020,2,Catcher,1957508,151,235
1,1,26,89,6266,3,First Baseman,4310189,3,124
2,1,26,89,4557,6,ShortStop,2854924,-126,241
3,1,26,89,6201,5,Third Baseman,4174299,3,-1
4,1,26,89,3428,7,Left Field,7050872,18,21
...,...,...,...,...,...,...,...,...,...
95,8,4,69,0,12,Runner on Second Base,819908,41,129
96,8,4,69,2808,7,Left Field,649508,32,151
97,8,4,69,1972,6,ShortStop,5893722,-27,150
98,8,4,69,0,13,Runner on Third Base,3640889,-47,89
99,8,4,69,2526,3,First Baseman,5388489,16,140

In [25]:
df_ball['playID'].nunique()

9059

In [26]:
player['playID'].nunique()

26305

In [5]:
player.sample(10)

,playID,playPerGame,gameID,playerNum,posCode,posName,playerTimeStamp,fieldX,fieldY
190768,14674,83,64,2141,7,Left Field,5278872,-128,269
70497,5423,73,3,8988,11,Runner on First Base,3824465,121,261
176828,13602,117,59,7927,9,Right Field,5893972,60,137
220157,16935,145,5,1748,6,ShortStop,7030122,-71,92
75524,5810,165,7,4454,4,Second Baseman,3998489,42,188
108773,8367,193,12,1802,10,Batter,927039,109,251
47111,3624,113,81,3918,7,Left Field,2168065,0,55
198567,15274,194,25,0,13,Runner on Third Base,3256089,-51,127
188877,14529,38,29,3182,1,Pitcher,1343558,58,64
189839,14603,10,51,1659,7,Left Field,4616339,-1,60

In [4]:
# Calculate travel distance
def travel_distance(x1, y1, z1, x2, y2, z2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2 + (z2 - z1)**2)

# Dictionary to store results for each playID
results = {}

# The start of the ball pos would be when the eventCode = 4, 
# and the end of the ball pos would be when the eventCode = 2 or 11
for playID, play_data in df_ball.groupby('playID'):
    event_codes = play_data['eventCode'].values
    
    start_idx = np.where(event_codes == 4)[0][0] if 4 in event_codes else None
    end_idx = next((i for i, code in enumerate(event_codes) if code in [2, 11]), None)
    
    if start_idx is not None and end_idx is not None:
        positions = play_data[['ballPositionX', 'ballPositionY', 'ballPositionZ']].values
        timestamps = play_data['ballTimeStamp'].values / 1000  # Convert to seconds
        
        positions = positions[start_idx:end_idx+1]
        timestamps = timestamps[start_idx:end_idx+1]
        
        speeds = []
        for i in range(1, len(positions)):
            distance = travel_distance(*positions[i-1], *positions[i])
            time_interval = timestamps[i] - timestamps[i-1]
            
            if time_interval > 0:  # Avoid division by zero
                speed = distance / time_interval
                speeds.append(speed)
        
        total_distance = sum(travel_distance(*pos1, *pos2) for pos1, pos2 in zip(positions[:-1], positions[1:]))
        
        results[playID] = {
            'Total Distance': total_distance,
            'Average Ball Speed': np.mean(speeds) if speeds else 0  # Set to 0 if no speeds available
        }
    else:
        results[playID] = {
            'Total Distance': 0,
            'Average Ball Speed': 0
        }

output_df = pd.DataFrame.from_dict(results, orient='index')

# Reset the index and rename the columns
output_df.reset_index(inplace=True)
output_df.rename(columns={'index': 'playID'}, inplace=True)

print(output_df)

      playID  Total Distance  Average Ball Speed
0          6      146.409737           69.718922
1          8        0.000000            0.000000
2          9        0.000000            0.000000
3         10        0.000000            0.000000
4         11        0.000000            0.000000
...      ...             ...                 ...
9054   26297      142.418452           50.863733
9055   26298        0.000000            0.000000
9056   26300        0.000000            0.000000
9057   26302      350.872622           71.826088
9058   26303      189.547407           36.805322

[9059 rows x 3 columns]

In [7]:
output_df

      playID  Total Distance  Average Ball Speed
0          6      146.409737           69.718922
1          8        0.000000            0.000000
2          9        0.000000            0.000000
3         10        0.000000            0.000000
4         11        0.000000            0.000000
...      ...             ...                 ...
9054   26297      142.418452           50.863733
9055   26298        0.000000            0.000000
9056   26300        0.000000            0.000000
9057   26302      350.872622           71.826088
9058   26303      189.547407           36.805322

[9059 rows x 3 columns]

In [77]:
# Function to calculate Euclidean distance between two points
def travel_distance(x1, y1, z1, x2, y2, z2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2 + (z2 - z1)**2)

# Dictionary to store results for each playID
results = {}

# The start of the ball pos would be when the eventCode = 4, 
# and the end of the ball pos would be when the eventCode = 2 or 11
for playID, play_data in df_ball.groupby('playID'):
    event_codes = play_data['eventCode'].values
    
    start_idx = np.where(event_codes == 4)[0][0] if 4 in event_codes else None
    end_idx = next((i for i, code in enumerate(event_codes) if code in [2, 11]), None)
    
    if start_idx is not None and end_idx is not None:
        positions = play_data[['ballPositionX', 'ballPositionY', 'ballPositionZ']].values
        timestamps = play_data['ballTimeStamp'].values / 1000  # Convert to seconds
        
        positions = positions[start_idx:end_idx+1]
        timestamps = timestamps[start_idx:end_idx+1]
        
        speeds = []
        accelerations = []  # New list to store acceleration values
        
        if len(positions) > 1:  # Ensure at least two positions for initial acceleration calculation
            distance = travel_distance(*positions[0], *positions[1])
            time_interval = timestamps[1] - timestamps[0]
            
            if time_interval > 0:  # Avoid division by zero
                speed = distance / time_interval
                speeds.append(speed)
                
                # Calculate initial acceleration as change in speed over time
                initial_acceleration = speed / time_interval
                accelerations.append(initial_acceleration)
        
        total_distance = sum(travel_distance(*pos1, *pos2) for pos1, pos2 in zip(positions[:-1], positions[1:]))
        
        results[playID] = {
            'TotalDistance': total_distance,
            'AverageBallSpeed': np.mean(speeds) if speeds else 0,  # Set to 0 if no speeds available
            'InitialBallAcceleration': accelerations[0] if accelerations else 0  # Set to 0 if no accelerations available
        }
    else:
        results[playID] = {
            'TotalDistance': 0,
            'AverageBallSpeed': 0,
            'InitialBallAcceleration': 0
        }

output_df = pd.DataFrame.from_dict(results, orient='index')

# Reset the index and rename the columns
output_df.reset_index(inplace=True)
output_df.rename(columns={'index': 'playID'}, inplace=True)

print(output_df)

      playID  TotalDistance  AverageBallSpeed  InitialBallAcceleration
0          6     146.409737         76.303938              1526.078767
1          8       0.000000          0.000000                 0.000000
2          9       0.000000          0.000000                 0.000000
3         10       0.000000          0.000000                 0.000000
4         11       0.000000          0.000000                 0.000000
...      ...            ...               ...                      ...
9054   26297     142.418452        142.361659              2847.233174
9055   26298       0.000000          0.000000                 0.000000
9056   26300       0.000000          0.000000                 0.000000
9057   26302     350.872622         36.235475              1098.044697
9058   26303     189.547407        138.146846              2762.936917

[9059 rows x 4 columns]

In [78]:
output_df.head(10)

   playID  TotalDistance  AverageBallSpeed  InitialBallAcceleration
0       6     146.409737         76.303938              1526.078767
1       8       0.000000          0.000000                 0.000000
2       9       0.000000          0.000000                 0.000000
3      10       0.000000          0.000000                 0.000000
4      11       0.000000          0.000000                 0.000000
5      17     310.540927        157.514202              3150.284047
6      19     314.988930         31.240105               946.669840
7      25     139.815216         51.855510              1037.110196
8      29       0.000000          0.000000                 0.000000
9      30       0.000000          0.000000                 0.000000

In [64]:
len(output_df[output_df['Total Distance'] != 0])

4488

## Player Analysis

In [8]:
sorted_df = player.groupby('gameID').apply(lambda x: x.sort_values(by=['playPerGame', 'playerTimeStamp'])).reset_index(drop=True)

In [9]:
# Build a new dataframe with every row contain the playID playPergame and gameID, also including a new feature
# "result" which have value 1, 2, 3 means batter run to first, second, third base.

# Used to save value
new_data = []

# find all the game id
unique_games = sorted_df['gameID'].unique()

for game_id in unique_games:
    game_data = sorted_df[sorted_df['gameID'] == game_id]
    
    # Now check details about each single game
    for i in range(len(game_data)):
        row = game_data.iloc[i]
        
        if row['posCode'] == 10:
            player_num = row['playerNum']
            play_per_game = row['playPerGame']
            next_play_per_game = play_per_game + 1
            
            next_row = game_data[(game_data['playPerGame'] == next_play_per_game) & 
                                 (game_data['playerNum'] == player_num) & 
                                 (game_data['posCode'].isin([11, 12, 13]))]
            
            if not next_row.empty:
                result = next_row['posCode'].values[0] - 10
                new_data.append((row['playID'], play_per_game, game_id, result))

# build new dataframe
new_columns = ['playID', 'playPerGame', 'gameID', 'result']
batter_df = pd.DataFrame(new_data, columns=new_columns)

In [10]:
batter_df.head(10)

   playID  playPerGame  gameID  result
0   25953            6       1       1
1    7027           14       1       1
2   21697           23       1       2
3    6627           43       1       1
4    5766           45       1       1
5    5248           54       1       1
6    2710           55       1       2
7    6079           64       1       1
8    5869           72       1       1
9    8133           83       1       1

In [79]:
batter_df2 = batter_df.sort_values(by='playID',ascending = True)

In [80]:
batter_df2.head(30)

      playID  playPerGame  gameID  result
2065      19          169      93       1
1915      33          186      85       1
577       50          219      26       1
1941      69           22      88       2
894       77           36      41       2
17        84          201       1       1
1174      93          172      53       1
978      106          145      44       1
176      114          270       7       1
772      117          206      35       2
1642     133          298      74       1
813      149           20      38       1
1303     161           34      61       1
1131     163           13      52       1
1153     189          279      52       1
1740     190          231      78       1
38       199          202       2       2
1999     200          100      90       1
1973     205          112      89       1
2135     211           34      96       1
2070     230          214      93       1
327      232          176      15       1
1255     258          136      57       1
1172     299          162      53       1
753      319           24      35       1
2089     324          180      94       1
1414     328          133      65       1
835      363          249      38       1
324      383          130      15       1
1177     401          210      53       1

In [81]:
output_df.head(30)

    playID  TotalDistance  AverageBallSpeed  InitialBallAcceleration
0        6     146.409737         76.303938              1526.078767
1        8       0.000000          0.000000                 0.000000
2        9       0.000000          0.000000                 0.000000
3       10       0.000000          0.000000                 0.000000
4       11       0.000000          0.000000                 0.000000
5       17     310.540927        157.514202              3150.284047
6       19     314.988930         31.240105               946.669840
7       25     139.815216         51.855510              1037.110196
8       29       0.000000          0.000000                 0.000000
9       30       0.000000          0.000000                 0.000000
10      31     231.371083        112.954350              3422.859079
11      33     251.472864        141.183425              2823.668505
12      35     311.281630         86.297133              1725.942652
13      36     279.401230        203.712768              4074.255365
14      38     123.869065        132.321215              2646.424307
15      39       0.000000          0.000000                 0.000000
16      41     270.809070         70.162466              2126.135340
17      44       0.000000          0.000000                 0.000000
18      49       0.000000          0.000000                 0.000000
19      52     361.671700        216.790758              4335.815152
20      53       0.000000          0.000000                 0.000000
21      56      77.994508        104.208229              2084.164578
22      58       0.000000          0.000000                 0.000000
23      64       0.000000          0.000000                 0.000000
24      65      97.969779         91.232137              2764.610212
25      66     165.268438        132.939587              2658.791746
26      67     246.866997         91.228521              1824.570423
27      69     427.736613         98.509846              1970.196925
28      71       0.000000          0.000000                 0.000000
29      75     446.527840        267.704999              5354.099973

In [18]:
batter_df['result'].value_counts()

1    1775
2     354
3      50
Name: result, dtype: int64

In [22]:
batter_df

      playID  playPerGame  gameID  result
0      25953            6       1       1
1       7027           14       1       1
2      21697           23       1       2
3       6627           43       1       1
4       5766           45       1       1
...      ...          ...     ...     ...
2174    3434          220      97       1
2175   25382          240      97       1
2176   20611          243      97       2
2177   23751          249      97       1
2178    9670          251      97       2

[2179 rows x 4 columns]

In [82]:
ball_pos_batter_df = pd.merge(output_df,batter_df, on='playID', how='left')
ball_pos_batter_df

,playID,TotalDistance,AverageBallSpeed,InitialBallAcceleration,playPerGame,gameID,result
0,6,146.409737,76.303938,1526.078767,NaN,NaN,NaN
1,8,0.000000,0.000000,0.000000,NaN,NaN,NaN
2,9,0.000000,0.000000,0.000000,NaN,NaN,NaN
3,10,0.000000,0.000000,0.000000,NaN,NaN,NaN
4,11,0.000000,0.000000,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9054,26297,142.418452,142.361659,2847.233174,NaN,NaN,NaN
9055,26298,0.000000,0.000000,0.000000,NaN,NaN,NaN
9056,26300,0.000000,0.000000,0.000000,NaN,NaN,NaN
9057,26302,350.872622,36.235475,1098.044697,54.0,67.0,2.0
9058,26303,189.547407,138.146846,2762.936917,NaN,NaN,NaN

In [83]:
ball_pos_batter_df[ball_pos_batter_df.result!=0]

,playID,TotalDistance,AverageBallSpeed,InitialBallAcceleration,playPerGame,gameID,result
0,6,146.409737,76.303938,1526.078767,NaN,NaN,NaN
1,8,0.000000,0.000000,0.000000,NaN,NaN,NaN
2,9,0.000000,0.000000,0.000000,NaN,NaN,NaN
3,10,0.000000,0.000000,0.000000,NaN,NaN,NaN
4,11,0.000000,0.000000,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9054,26297,142.418452,142.361659,2847.233174,NaN,NaN,NaN
9055,26298,0.000000,0.000000,0.000000,NaN,NaN,NaN
9056,26300,0.000000,0.000000,0.000000,NaN,NaN,NaN
9057,26302,350.872622,36.235475,1098.044697,54.0,67.0,2.0
9058,26303,189.547407,138.146846,2762.936917,NaN,NaN,NaN

In [84]:
ball_pos_batter_df.sample(10)

,playID,TotalDistance,AverageBallSpeed,InitialBallAcceleration,playPerGame,gameID,result
3281,9696,0.000000,0.000000,0.000000,NaN,NaN,NaN
847,2601,0.000000,0.000000,0.000000,NaN,NaN,NaN
2948,8790,0.000000,0.000000,0.000000,NaN,NaN,NaN
4362,12843,0.000000,0.000000,0.000000,NaN,NaN,NaN
8928,25943,0.000000,0.000000,0.000000,NaN,NaN,NaN
5614,16429,348.596952,233.891594,7087.624052,254.0,72.0,2.0
3556,10493,0.000000,0.000000,0.000000,NaN,NaN,NaN
2812,8388,309.516248,137.874053,2757.481052,NaN,NaN,NaN
3835,11298,375.325655,72.433482,2194.954007,NaN,NaN,NaN
9006,26168,136.939183,188.714345,3774.286910,NaN,NaN,NaN

In [85]:
ball_pos_batter_df = ball_pos_batter_df.fillna(0)

In [86]:
ball_pos_batter_df.loc[ball_pos_batter_df['result'] == 0]

,playID,TotalDistance,AverageBallSpeed,InitialBallAcceleration,playPerGame,gameID,result
0,6,146.409737,76.303938,1526.078767,0.0,0.0,0.0
1,8,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,9,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,10,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,11,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...
9053,26295,123.375990,158.779034,3175.580683,0.0,0.0,0.0
9054,26297,142.418452,142.361659,2847.233174,0.0,0.0,0.0
9055,26298,0.000000,0.000000,0.000000,0.0,0.0,0.0
9056,26300,0.000000,0.000000,0.000000,0.0,0.0,0.0
9058,26303,189.547407,138.146846,2762.936917,0.0,0.0,0.0

In [87]:
ball_pos_batter_df['result'].value_counts()

0.0    8025
1.0     801
2.0     209
3.0      24
Name: result, dtype: int64

In [88]:
# replace the 2 and 3 as 1 
ball_pos_batter_df['result'] = ball_pos_batter_df['result'].replace([2, 3], 1)

In [89]:
ball_pos_batter_df

,playID,TotalDistance,AverageBallSpeed,InitialBallAcceleration,playPerGame,gameID,result
0,6,146.409737,76.303938,1526.078767,0.0,0.0,0.0
1,8,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,9,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,10,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,11,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...
9054,26297,142.418452,142.361659,2847.233174,0.0,0.0,0.0
9055,26298,0.000000,0.000000,0.000000,0.0,0.0,0.0
9056,26300,0.000000,0.000000,0.000000,0.0,0.0,0.0
9057,26302,350.872622,36.235475,1098.044697,54.0,67.0,1.0
9058,26303,189.547407,138.146846,2762.936917,0.0,0.0,0.0

In [90]:
m = smf.logit("result ~ TotalDistance + AverageBallSpeed", data = ball_pos_batter_df).fit()
m.summary()

Optimization terminated successfully.
         Current function value: 0.336794
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 result   No. Observations:                 9059
Model:                          Logit   Df Residuals:                     9056
Method:                           MLE   Df Model:                            2
Date:                Wed, 30 Aug 2023   Pseudo R-squ.:                 0.05151
Time:                        00:51:44   Log-Likelihood:                -3051.0
converged:                       True   LL-Null:                       -3216.7
Covariance Type:            nonrobust   LLR p-value:                 1.086e-72
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -2.6836      0.054    -49.505      0.000      -2.790      -2.577
TotalDistance        0.0023      0.000      8.035      0.000       0.002       0.003
AverageBallSpeed     0.0035      0.001      6.689      0.000       0.002       0.005
====================================================================================
"""